<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sample Error Website</title>
  <link href="style.css" rel="stylesheet" type="text/css"/>
</head>

<body>

<table style="width:100%;text-align:center;">
<tr>
    <td style="width:10%;">&nbsp;</td>
    <td style="width:80%;text-align:center;">

        </br>
        <table style="width:800px;border: 0px solid black;">
        <tr>
            <td style="text-align:center;">
                <div>
                    <img src="under_construction.jpg"/>
                    </br></br>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="arial_16" style="font-style:bold;color:brown;text-align:center;">
                    We are expecting a technical difficulty at the moment. Service will return soon.</br>
                    Thank you for your kind understanding 
                    </br></br>
                </div>
            </td>
        </tr>   
        </table>
        </br>
        
    </td>
    <td style="width:10%;">&nbsp;</td>
</tr>
</table>

<footer>{{ inventory_hostname }}<br />Ansible by Red Hat</footer>
</body>

</html>
